{% extends './base.html' %}

{% block content %}

    <div class="container mx-5 px-5 text-primary text-center ">
        <h1>欢迎来到Elaine的魔法商店！</h1>
    </div>

    <div class="container mt-3">
        <div class="row">
            {% for product in product_list %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    {% load static %}
                    <img src="{% static 'shop/images/food_1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.price }}<br>网友评分：{{ product.grade }}</p>
                      <a href="#" class="btn btn-primary">Great! <i class="fa-solid fa-thumbs-up"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}